@page "/counter"
@using System.Linq
@using PruebasWebBlazor.Services;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<select class="form-control" @bind="TipoProfesionSeleccionado">
    <option value="">Seleccione una profesión</option>
    @foreach (var tipoProfesion in _tipoProfesionService.GetTipoProfesion())
    {
        <option value="@tipoProfesion.Id">@tipoProfesion.Nombre</option>
    }
</select>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private TipoProfesionService _tipoProfesionService = new TipoProfesionService();

    private int TipoProfesionSeleccionado { get; set; }
}
